{{#if username}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="form-group search-bar">
       <form action="searchByTag" method="get" class="search">
        <input class="form-control search-bar-text" type="text" placeholder="Search for memes by tag" name ="searchText">
        <button class="btn btn-sharp search-bar-button" type="submit">
          <img class="search-bar-button-image" id="search_icon" src="search.png">
        </button>
        </form>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
{{else}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="form-group search-bar">
       <form action="searchByTag_guest" method="get" class="search">
        <input class="form-control search-bar-text" type="text" placeholder="Search for memes by tag" name ="searchText">
        <button class="btn btn-sharp search-bar-button" type="submit">
          <img class="search-bar-button-image" id="search_icon" src="search.png">
        </button>
        </form>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
{{/if}}
