<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="layout.css">

    <style type="text/css">

        #header {
            background-color: black;
            height: 50px;
            width: 100%;
            border-radius: 4px;
        }

        h5 {
            color: black;
        }

        #name {

            color: white;
            font-family: "Roboto", sans-serif;
            padding: 15px;
        }

        .content {
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }

        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .meme-title {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-size: 40px;
            align-self: center;
            /* margin: 10px;*/
        }

        div.meme-visibility {
          display: flex;
          align-self: center;
          align-items: flex-end;
        }

        div.meme-visibility > img {
          height: 40px;
          width: 40px;
        }

        div.meme-visibility-tooltip {
          display: none;
          margin: 0 5px;
          font-size: 15px;
          /*background-color: rgba(255,255,255,0.4);*/
            background-color: lightgray;
          padding: 5px;
          color: black;
          border-radius: 10px;
          text-align: center;
        }

        div.meme-visibility:hover div.meme-visibility-tooltip {
          display: block;
        }

        #meme {
            height: 500px;
            width: 600px;
        }

        #description {
            font-family: "Roboto", sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
            align-self: flex-start;
        }

        #btn {
            background-color: cadetblue;
            color: white;
            border-radius: 8px;
            border: none;
            text-decoration: none;
            padding: 5px 7px;
            font-size: 20px;
            margin-top: 5px;
            margin-right: 5px;
            cursor: pointer;

        }


        #post_edit {
            margin-top: 40px;
            margin-bottom: 40px;

        }

        #edit_btn {
            border: none;
            margin: 5px;
            padding: 8px 20px;
            font-size: 15px;
            background-color: #50c686;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            margin-right: 3%;
        }

        #delete_btn {
            border: none;
            margin: 5px;
            padding: 8px 20px;
            font-size: 15px;
            background-color: #ed8964;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            margin-left: 3%;
        }

        .boxhead#title{
            color: white;
            text-decoration: none;
        }

        #profile_pic{
            height : 40px;
            width : 40px;
        }

        #info{
            text-align:left;
            align-self: flex-start;
        }

        #btns{
            display:flex;
            flex-direction: row;
            align-self: flex-start;
        }
        
        .meme-title{
            
        }

    </style>


</head>

<body>
  {{> topbar this}}

  {{> search this}}


        <div class="content">


        <div class="top">
            <div class="meme-title" style="color:white;">
              Me @ Jollibee
            </div>
            <div class="meme-visibility">
              <div class="meme-visibility-tooltip">
                Private
              </div>
              <img src="lock.png">
            </div>
        </div>

        <img id="meme" src="meme2.png">

        <a style="cursor: pointer; color: dimgray;" id="info" href="ViewUser">By limesapphire</a>

        <a id="description" style="color:#b9b4b4; text-align:left;">I look like that even with other people's food</a>

        <div id = "btns">

          <button type="submit" class="btn" id="edit_btn" data-toggle="modal" data-target="#uploadModal">Edit Post</button>
          <form action="deleteMeme" method="post">
          <button type="submit" class="btn" id="delete_btn">Delete Post</button>
          </form>
        </div>
    </div>
    <div id="post_edit">
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                   <form action="editMeme" method="post">
                    <div class="modal-header">

                        <h5 class="modal-title">Edit Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                       <h5>Name</h5>
                        <input type="text"  name="tagName">
                           <br>
                            <input type="file" name="pic" accept="image/*" id="upload">
                            <h5>Description</h5>
                            <textarea rows="4" cols="50" name ="description"></textarea>
                            <h5>tags</h5>
                            <div class="tags-input" data-name="tags-input" id='tag'>
                                <!--<span class="tag">CSS<span class="close"></span></span>
                                    <span class="tag">JavaScript<span class="close"></span></span>
                                    <span class="tag">HTML<span class="close"></span></span><-->
                            </div>

                            <h5>Visibility</h5>

                               <h5>Public</h5><input type="radio"  name="visibility" value="public" checked="checked" style= "color:back;">
                               <h5>Private</h5> <input type="radio" style= "color:back;" name="visibility" value="private" class="radioBox" style= "color:back"><br>

                            <h5 class="sharedLabel">Shared to</h5>
                            <div class="tags-input" data-name="tags-input" id="sharedUser" Value="@user," style="visibility: hidden;">
                                <!--<span class="tag">CSS<span class="close"></span></span>
                                    <span class="tag">JavaScript<span class="close"></span></span>
                                    <span class="tag">HTML<span class="close"></span></span><-->
                            </div>



                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" id="uButton" data-toggle="modal" data-target="#descriptionModal">Submit</button>

                    </div>
                    </form>
                </div>
            </div>

        </div>


    </div>

    <link rel="stylesheet" href="tags.css">

    <script>
        delete_btn.onclick = function() {
            window.alert("Post deleted");
            /*location.href = "homepage.html";*/
        };

        logout_btn.onclick = function(){
            window.alert("Logged out");
            /*location.href = "index.hbs";*/
        }

        $("#uploadModal").click(()=>{
                $("#tag > .main-input").attr("placeholder", "something,")
                $("#sharedUser > .main-input").attr("placeholder", "@user,")
            })

            $("#uButton").click(() => {

                if($('form input[type=radio]:checked').val()!=''|| $('#upload').val()!='' ||  $("#tagName").val() !="" || $("#description").val()!=""){
                    alert('you have successfully updates a meme')
                }else{
                    alert('user entered nothing')
                }

                $('input.main-input').attr("placeholder", "@user,something");


                //alert($(mainInput).val())
                //alert($('input[name=visibility]:checked').val();)

               // alert($('#upload').val())
                /*
                if ($('#visibility').val() === '' || $('#tag').val() === ''||$('#sharedUser').val()===0||$('#upload')files.length === 0 ) {
                    alert("missing items please fill it out");
                }else if($('#visibility').val() != '' && $('#tags').val() != '' && $('#upload')files.length != 0 ){
                     alert("upload successfully ");
                }*/
                $('#uploadModal .close').click();
            })

            $('form input[type=radio]').click(function(){
                if($(this).val()=="private"){
                    $('#sharedUser').css("visibility", "visible")
                    $('.sharedLabel').css("visibility", "visible")
            }else{
                $('#sharedUser').css("visibility", "hidden")
                $('.sharedLabel').css("visibility", "hidden")
            }


            });
    </script>

    <script src="tags.js"></script>
</body>

</html>
