<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">

  <style>

    .public-div, .shared-div {
      text-align: center;
      padding: 0;
    }

    .post-link {
      margin: 2px;
      height: 200px;
      width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
    }

    .post-div {
      position: relative;
      height: inherit;
      width: inherit;
    }

    img.post-image {
      position: absolute;
      top: 0; right: 0;
      height: inherit;
      width: inherit;
    }

    .post-text {
      color: white;
      text-align: center;
      padding-top: 25%;
    }

    .post-image:hover {
      opacity: .25;
    }

    .load-more-div {
      display: flex;
    }

    .load-more {
      font-size: 20px;
      margin: 30px auto;
    }

    .modal {
      color: black;
    }
  </style>

</head>

<body>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
             <form action="login" method="post">
              <div class="modal-header">
                  <h5 class="modal-title">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">

                  <div>
                      <h5>Username</h5>
                      <input type="text" id="lUser">
                  </div>
                  <div>
                      <h5>Password</h5>
                      <input type="password" id="lPassword">
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary mr-auto" id="lButton">Login</button>
                  <div class="leftmost" data-toggle="modal" data-target="#signUpModal">
                      Don't Have an Account
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>
  <div>

      <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <form action="register" action="post">
                  <div class="modal-header">
                      <h5 class="modal-title">Sign Up</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                      <div>
                          <h5>Name</h5>
                          <input type="text" id="sUser">
                      </div>
                      <div>
                          <h5>Password</h5>
                          <input type="password" id="sPassword">
                      </div>
                      <div>
                          <h5>Description</h5>
                          <textarea rows="4" cols="50" id='description'></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary mr-auto" id="sButton">Sign Up</button>
                  </div>
                 </form>
              </div>
          </div>
      </div>
  </div>
</div>

  <nav class="navbar navbar-expand-sm">
       <span class="navbar-brand"><a href="/" >168GAG</a></span>
   
<!--      <span class="navbar-brand"><form action="/" method ="post"><a style="text-decoration : none; color : white;" >168GAG</a></form></span>-->
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item">
        <button class="btn btn-sharp login-button" type="button"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</button>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="form-group search-bar">
         <form action="searchByTag_guest" method="get">
          <input class="form-control search-bar-text" type="text" placeholder="Search for memes by tag">
          <button class="btn btn-sharp search-bar-button" type="submit">
           
            <img class="search-bar-button-image" src="search.png"></img>
          </button>
          </form>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  </div> 

  <h2 style="text-align: center;">Memes with tag #{{searchTag}}</h2>

  <div class="container-fluid public-div">


  </div>

  <div class="container-fluid load-more-div">
  <button class="btn btn-sharp load-more" type="button">Load more</button>
  </div>

  <script>

//  $(".search-bar-button").click(function() {
//           /* location.href = "searchByTag_guest"*/
//        })

  var memeNames = ["We love you miss", "Me @ Jollibee", "wow haha", "loool"]
  function loadMemes(){
      for (var i=0;i<15;i++){
        var a = document.createElement("a")
        var post = document.createElement("div")
        var postText = document.createElement("div")
        var img = document.createElement("img")

        var j = Math.floor(Math.random()*4)+1

        a.href = "guestViewMeme"
        a.className = "post-link"
        post.className = "post-div"
        postText.className = "post-text"
        $(postText).text(memeNames[j-1])
        img.src = "meme"+j+".png"
        img.className = "post-image"
        $(post).append(postText)
        $(post).append(img)
        $(a).append(post)
        $(".public-div").append(a)
      }
  }

  $(".load-more").click(function(){
      var lm = $(".load-more-div").detach()
      loadMemes()
      $(document.body).append(lm)
  })

  $(document).ready(() => {
      $("#lButton").click(() => {
          if ($('#lUser').val() != "" && ($('#lPassword')).val() != "") {
              $('#loginModal .close').click();
              alert("successfully entered your Account");
              /*$('#lUser').val('');
              $('#lPassword').val('');
              window.location.href = "homepage"*/
          } else if ($('#lUser').val() === "") {
              alert("please enter your username")
          } else {
              alert("please enter your Password")
          }
      })

      $("#sButton").click(() => {
          if ($('#sUser').val() != "" && ($('#sPassword')).val() != "") {

              $('#loginModal .close').click();
              $("#signUpModal .close").click();
              alert("successdully entered your Account");
            /*  $('#sUser').val('');
              $('#sPassword').val('');*/
          } else if ($('#sUser').val() === "") {
              alert("please enter your username")
          } else {
              alert("please enter your Password")
          }
      })


  })

  loadMemes()

  </script>

</body>

</html>
