body {
    background-color: black;
}

#navbar {
    background-color: black;
}

a,
#media-body {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

form.search {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
}

.upload-button {
    margin-left: 12%;
}

#profile_pic {
    height: 40px;
    width: 40px;
}

#search_icon {
    height: 25px;
    width: 25px;
}

